# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\jetBrains PyCharm项目\2020-2021第二学期python算法设计\The final exam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
